<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">reddit Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape">Scrape</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="clearArticles" href="/">Clear All</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="main-container">
    <div class="container">
        <div class="jumbotron mt-2">
            <h2 class="text-center">reddit Scraper</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Subreddit</th>
                            <th scope="col">Read</th>
                            <th scope="col">Save</th>
                        </tr>
                    </thead>
                    <tbody id="article">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>