a{
    color: white;
}

a:hover{
    color: white;
}

.formBtn{
    float: right;
}

.jumbotron{
    background-image: url("https://www.gamersnexus.net/images/media/logos/misc/reddit-logo-gray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main-container{
    margin-top: 70px;
    margin-bottom: 60px;
}

.footer{
    height: 56px;
    background-color: #f8f9fa!important;
    position: fixed;
    bottom: 0;
    width: 100%;
}